# Aluvion Environment Configuration Example
GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbyuDjnaBXBL7lLj1uqZdhc3inTq5HqHu-FGsv_oD0E89lHwrYyUQl2uEWnXIjhxZaUXPg/exec
NEXT_PUBLIC_PAYPAL_CLIENT_ID=BAAkHmhj1HuRPUaru4wxfoYoL1msUAP6SiMcEDAlBSVDpckP2h575o2RNM52S_i-cYuefXC8E5F5dnzmn8
NEXT_PUBLIC_PAYPAL_HOSTED_BUTTON_ID=ZA4JPKKV2GVFY
